{% extends 'base.html' %}
{% block title %}{{ad.title}}{% endblock title %}

{% block content %}
{% for ad in cosmetic %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <img class="d-block w-100 border border-5" src="../../../media/{{ad.photo}}">
        </div>
        <div class="ml-3 col-8 ">
            <div class=" w-auto">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item"> <b>Название: </b><p>{{ad.title}}</p></li>
                    <li class="list-group-item"><b>Цена: </b> <p>{{ad.price}}</p></li>
                    <li class="list-group-item">
                        <b>Описание: </b>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                {{ad.description}}
                            </div>
                        </div>
                        <p>
                            <a class=" mt-3 btn btn-outline-info" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Описание
                            </a>
                        </p>
                    </li>
                    <li class="list-group-item">
                        {% if request.user.is_authenticated %}
                            {% include 'add_cart.html'%}
                        <br />
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<hr>
<div class="row">
    {% if request.user.is_authenticated %}
    <form class="form-outline col-6 mb-3" method="POST">
        {% csrf_token %}
        <textarea class="form-control" name="Text" rows="4" style="background: #fff;"></textarea>
        <div class="float-end mt-2 pt-1">
            <button type="submit" class="btn btn-outline-primary" name="add" >Добавить комментарий</button>
        </div>
    </form>
    {% endif %}
    <div>

        {% for comment in comment %}
        <div class="border-bottom p-2 mt-2 w-50 rounded" style="background: #fff;">
            <p>{{comment.text}}</p>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}