{% extends 'base.html' %}
{% block title %}Заказы{% endblock title %}
{% block content %}
<div class="container mt-5">

        {% for order in orders %}
    <ul class="list-group mt-3">
        <li class="list-group-item">
            <b>Заказ #{{order.pk}}</b>
            <a class="btn btn-outline-info" data-bs-toggle="collapse" href="#multiCollapseExample{{order.pk}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Подробнее</a>
        </li>
        <li class="collapse multi-collapse list-group-item" id="multiCollapseExample{{order.pk}}">


            {% for product in product %}

            {% if product.order == order %}
            <div class="card-body row mt-2">
                <div class="col-3">
                    <img class="d-block" src="../../media/{{product.product.photo}}">
                </div>
                <div class="col-3">
                    <div class=""><b>{{product.product.title}}</b></div>
                    <div class=""><p>{{product.product.price}}</p></div>
                </div>
            </div>
            <hr />

            {% endif %}

            {% endfor %}

            
        </li>
    </ul>
        {% endfor %}
</div>
{% endblock %}